.App {
  margin: 0 auto;
  width: 80%;
  max-width: 980px;
  position: relative;
}
h1, h2, h3, h4, h5{
  font-family:  "Questrial", sans-serif;
}
.h1{
  padding: 3rem;
}
.header{
  text-align: center;
}
.thumbnail-link{
  color: unset;
  text-decoration: none;
}
.thumbnail-link:hover{
  transition: .2s;
  transform: scale(1.1);
}
.app-container{
  height: 100%;
  width: 100%;
}
.footer{
  opacity: .6;
  text-align: center;
  padding: 2em 1em 2em 1em;
}
.footer a{
  color: inherit;
}